.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-glow {
  position: relative;
}

.App-glow:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: linear-gradient(to top, rgba(40, 44, 52, 0.8), #6effe8);
  z-index: -1;
  pointer-events: none;
  animation: glow-animation 3s ease-in-out infinite alternate;
}

@keyframes glow-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.65;
  }
}
